In [ ]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn import datasets
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [ ]:
#Reading the excel file as DataFrame
gym = pd.read_excel("/content/dataGYM.xlsx")

In [ ]:
gym.head()

,Age,Height,weight,BMI,Class,Prediction
0,48,4.1,86,40,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
1,53,4.1,91,42,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
2,42,4.1,95,44,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
3,48,4.1,100,46,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
4,22,4.1,104,48,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...

In [ ]:
#Label encoding the class column
gym["Class"] = LabelEncoder().fit_transform(gym["Class"])

In [ ]:
#Unique value count of class column
gym["Class"].value_counts()

3    281
5    248
2    232
1    212
4    199
0      4
Name: Class, dtype: int64

In [ ]:
#Separating the feature column
X = gym.iloc[:, :3]
X.head()

   Age  Height  weight
0   48     4.1      86
1   53     4.1      91
2   42     4.1      95
3   48     4.1     100
4   22     4.1     104

In [ ]:
#Separating the target colum
y = gym.iloc[:, 5:]
y.head()

                                          Prediction
0  Extremely obese--normal exercise+yoga+heavy di...
1  Extremely obese--normal exercise+yoga+heavy di...
2  Extremely obese--normal exercise+yoga+heavy di...
3  Extremely obese--normal exercise+yoga+heavy di...
4  Extremely obese--normal exercise+yoga+heavy di...

In [ ]:
#Splitting the training, test 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
#Using RandomForestClassifier
model_GYM = RandomForestClassifier(n_estimators=20)

model_GYM = model_GYM.fit(X, y)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [ ]:
#Comparing the expected and predicted variables against the model
expected = y_test
predicted = model_GYM.predict(X_test)

In [ ]:
#finding the accuracy of the model 
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

                                                                       precision    recall  f1-score   support

Extremely obese--normal exercise+yoga+heavy dite control+TIPS ->Obese       1.00      1.00      1.00        39
                                 Healthy--fitness+protine+simple dite       1.00      1.00      1.00        48
                      Obese--slow lean+protine+full dite ->Overweight       1.00      1.00      1.00        55
                Overweight--lean+cardio+protine+normal dite ->Healthy       1.00      1.00      1.00        44
                Under weight--protines+carbs+normal weights ->Healthy       1.00      1.00      1.00        50

                                                             accuracy                           1.00       236
                                                            macro avg       1.00      1.00      1.00       236
                                                         weighted avg       1.00      1.00      1.00       236

[[39  0  0  0  0]
 [ 0 48  0  0  0]
 [ 0  0 55  0  0]
 [ 0  0  0 44  0]
 [ 0  0  0  0 50]]

In [ ]:
#Importing the pickle file to flatten the model
import pickle

In [ ]:
#Creating a Model_GYM pickle file 
pickle.dump(model_GYM, open("Model_GYM.pkl", "wb"))

In [ ]:
model = pickle.load(open("Model_GYM.pkl", "rb"))

In [ ]:
print(model_GYM.predict([[40, 5.66, 70]]))

['Healthy--fitness+protine+simple dite']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
print(model_GYM.predict([[40, 5.5, 70]]))

['Overweight--lean+cardio+protine+normal dite ->Healthy']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"